/* Homepage */
.my_box_shadow{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.my_dashboard_table{
    text-align: left;
}
.my_dashboard_table thead tr th{
    background-color: #9DB2BF;
    padding: 0.5rem 1rem;
    outline: 1px solid #ddd;
}
.my_dashboard_table tbody tr td{
    padding: 0.5rem;
}
.my_dashboard_table tbody tr td:nth-child(1){
    text-align: center;
}
.my_dashboard_table tbody tr:nth-child(odd) td{
    background-color: #cad7de;
}

.boxShadow1{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}